/* Globals */
* {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #1d1e20;
  max-width: 96%;
  margin: 0 auto 0 auto;
}

/* Fonts */

h1 {
  font-size: 1.5em;
  color: whitesmoke;
}

h2 {
  font-size: 4em;
  color: #1d1e20;
}

h3 {
  font-size: 1em;
  color: whitesmoke;
}

h4 {
  text-align: right;
  font-size: 3em;
  color: whitesmoke;
}

h5 {
  font-size: 5em;
  color: whitesmoke;
  opacity: 0.25;
}

a {
  font-size: 1.2em;
  text-decoration: none;
}

/* Fade In Effect */

.up.fade-in-section {
  transform: translateY(20vh);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 800ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.up.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* .left.fade-in-section {
  transform: translateX(-10vh);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 800ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.left.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
 */
 
.page-appear {
  opacity: 0;
}

.page-appear.page-appear-active {
  opacity: 1;
  transition: opacity 1.4s ease-in 1.2s;
}

.header-appear {
  top: -100px;
}

.header-appear.header-appear-active {
  top: 0;
  transition: 1.2s ease-out;
}

.side-appear {
  left: -80px;
}

.side-appear.side-appear-active {
  left: 38px;
  transition: 1.2s ease-out;
}

.scroll-appear {
  margin-right: -100px;
}

.scroll-appear.scroll-appear-active {
  margin-right: 0px;
  transition: 1.2s ease-out;
}

/* Socials */
.socials {
  position: fixed;
  bottom: 50px;
}

.socials div {
  margin-top: 10px;
  background-color: whitesmoke;
  height: 30px;
  width: 30px;
  color: #0f1015;
  text-align: center;
  border-radius: 15px;
  transition: ease .5s;
}

.socials div svg {
  height: 18px;
  width: 18px;
  margin-top: 6px;
}

.socials div svg#git {
  height: 22px;
  width: 22px;
  margin-top: 4px;
}

.socials div:hover {
  background-color: #1d1e20;
  transition: ease .5s;
}

.socials div:hover > svg {
  fill: #ffffff;
  transition: ease .5s;
}

/* Header */
header, #header-bg {
  padding: 15px 0;
  display: block;
  width: 95%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 100;
}

#header-bg {
  opacity: 0.99;
  background-color: #1d1e20;
}

header h1 {
  float: left;
  cursor: pointer;
}

header ul {
  float: right;
  margin-top: 10px;
}

header ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
  color: whitesmoke;
  padding-bottom: 8px;
}

.navbar a {
  position: relative;
  color: whitesmoke;
  padding-bottom: 8px;
}

.navbar a:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 0%;
  background: whitesmoke;
  transition: 0.6s;
}

.navbar a:hover:after {
  width: 100%;
  opacity: 1;
}

/* Intro Shot */
.intro {
  width: 1500px;
  margin: 100px auto 50px auto;
  position: relative;
}

.intro h1 {
  position: absolute;
  top: 40%; left: 0; right: 0;
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 700;
  color: #f0e4a4;
  text-align: center;
  max-width: 900px;
  margin: auto;
}


/* Main */ 
main {
  margin: 300px auto 0 auto;
  max-width: 1550px;
}

main h2 {
  height: 50px;
  max-width: 400px;
  position: relative;
  left: 60px;
  color: whitesmoke;
}

main h3 {
  position: relative;
  left: 50px;
  top: 10px;
  color: whitesmoke;
}

/* .instagram-preview {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 80px 0 0 10px;
  position: relative;
}

.instagram-preview div {
  background-color: #f1f1f1;
  width: 220px;
  height: 220px;
  margin: 15px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  position: relative;
  transition: ease .3s;
}


.instagram-preview div img {
  border: none;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  opacity: 1;
  transition: ease .5s;
}

.instagram-preview div:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease .3s;
} */

main div.preview div img {
  border: none;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  opacity: 1;
  transition: ease .5s;
}

main div.preview {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 40px auto 0px auto;
  position: relative;
}

main div.preview div.single {
  background-color: #f1f1f1;
  width: 725px;
  height: 405px;
  margin: 25px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  position: relative;
  transition: ease .3s;
}

main div.preview div.single:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease .3s;
}

main div.preview div .links {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #1d1e20;
  overflow: hidden;
  width: 0%;
  height: 60px;
  transition: .3s ease;
  z-index: 10;
}

#single-git {
  height: 40px;
  width: 40px;
  fill: whitesmoke;
}

#single-git:hover {
  fill: #f0e4a4;
}

main div.preview div:hover img {
  opacity: 0.85;
  transition: ease .3s;
}

main div.preview div:hover .links{
  width: 15%;
  left: 85%;
}

.projects {
  margin-bottom: 200px;
}

.projects h3.project-type {
  margin: 0;
  opacity: 0.5;
}

.projects h3.project-type#web {
  left: -50px;
  top: 0;
  float: right;
}

.projects h3.project-type#design {
  right: -50px;
  top: 40px;
  float: left;
}

/* About */
.about {
  margin-bottom: 150px;
  height: 750px;
}

.about h2 {
  margin-bottom: 50px;
}

.about #peace, #wave{
  max-height: 600px;
  width: auto;
  left: 0;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
}

#hand-images {
  float: left;
  max-width: 650px;
}

#peace {
  visibility: hidden;
  position: absolute;
}

#hand-images:hover #peace {
  visibility: visible;
  transform: scale3d(1.2, 1.2, 1.2);
}

#hand-images:hover #wave {
  visibility: hidden;
  transform: scale3d(1.2, 1.2, 1.2);
}

.about h5#name-about {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.about div#right-about {
  float: right;
  max-width: 800px;
  margin-right: 100px;
  margin-left: auto;
}

.about h1#about-typewriter {
  text-align: right;
  font-size: 6em;
  width: 800px;
}

.about h4#am-about {
  font-size: 1.8em;
  opacity: 0.25;
  margin-top: 50px;
  margin-right: 125px;
}

.contact {
  height: 900px;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  height: 25px;
  margin: 50px auto 50px auto;
  max-width: 1500px;
  color: whitesmoke;
}

footer span#c {
  float: left;
}

footer span#b {
  float: right;
  cursor: pointer;
  text-decoration: underline;
}