/* Globals */
* {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #1d1e20;
  max-width: 96%;
  margin: 0 auto 0 auto;
}

/* Fonts */

h1 {
  font-size: 2em;
  color: whitesmoke;
}

h2 {
  font-size: 1.8em;
  color: #1d1e20;
}

h3 {
  font-size: 2em;
}

a {
  font-size: 1.2em;
  text-decoration: none;
}

/* Fade In Effect */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 800ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* Socials */
.socials {
  position: fixed;
  bottom: 50px;
}

.socials div {
  margin-top: 10px;
  background-color: whitesmoke;
  height: 30px;
  width: 30px;
  color: #0f1015;
  text-align: center;
  border-radius: 15px;
  transition: ease .5s;
}

.socials div svg {
  height: 18px;
  width: 18px;
  margin-top: 6px;
}

.socials div svg#git {
  height: 22px;
  width: 22px;
  margin-top: 4px;
}

.socials div:hover {
  background-color: #1d1e20;
  transition: ease .5s;
}

.socials div:hover > svg {
  fill: #ffffff;
  transition: ease .5s;
}

/* Header */
header {
  padding: 15px 0;
  display: block;
  width: 95%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #1d1e20;
}

header h1 {
  float: left;
}

header ul {
  float: right;
  margin-top: 10px;
}

header ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
  color: whitesmoke;
  padding-bottom: 8px;
}

.navbar a {
  position: relative;
  color: whitesmoke;
  padding-bottom: 8px;
}

.navbar a:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 0%;
  background: whitesmoke;
  transition: 0.6s;
}

.navbar a:hover:after {
  width: 100%;
  opacity: 1;
}

.navbar li > .active:before {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  background: whitesmoke;
  transition: ease .5s;
}

/* Intro Shot */
.intro {
  width: 1500px;
  margin: 100px auto 50px auto;
  position: relative;
}

.intro h1 {
  position: absolute;
  top: 40%; left: 0; right: 0;
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 700;
  color: #f0e4a4;
  text-align: center;
  max-width: 900px;
  margin: auto;
}


/* Main */ 
main {
  margin: 300px auto 0 auto;
  max-width: 1550px;
}

main h2 {
  height: 50px;
  width: 200px;
  position: relative;
  left: 60px;
  color: whitesmoke;
}

main div.preview div img {
  border: none;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  opacity: 1;
  transition: ease .5s;
}

main div.preview {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 40px auto 0px auto;
  position: relative;
}

main div.preview div.single {
  background-color: #f1f1f1;
  width: 725px;
  height: 405px;
  margin: 25px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  position: relative;
  transition: ease .5s;
}

main div.preview div.single:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease .5s;
}

main div.preview div .links {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #1d1e20;
  overflow: hidden;
  width: 0%;
  height: 60px;
  transition: .5s ease;
  z-index: 10;
}

#single-git {
  height: 40px;
  width: 40px;
  fill: whitesmoke;
}

#single-git:hover {
  fill: #f0e4a4;
}

main div.preview div:hover img {
  opacity: 0.85;
  transition: ease .5s;
}

main div.preview div:hover .links{
  width: 15%;
  left: 85%;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  height: 25px;
  margin: 50px auto 50px auto;
  max-width: 1500px;
  color: whitesmoke;
}

footer span#c {
  float: left;
}

footer span#b {
  float: right;
  cursor: pointer;
  text-decoration: underline;
}